* {
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    color: #AB243E;
    display: inline-block;  
}
/*caja con tres por dentro inline-block*/
.menu-button{
    background-color: #09ffca;
    display: inline-block;
    color: black;
    padding: 20px;
    margin: 20px;
    height: 25px;
}
.menu-button:hover {
    color: #742FB5;
}
/*SECCIÓN DE CUERPO BASE*/
section{
    color: #000000;
    padding: 15px;
    background-color: #ffffff;
    margin:20px;
}
section:hover {
    color:#000000;
}
/*pseudo clase hijo*/
i:first-child{
    color: rgb(40, 1, 85);
}
section section{
    text-align: center;
    color: #1B6950;
    padding: 15px;
    background-color: #f3bbb6;
    border-radius: 10px;
    margin:20px;
}
/*LISTA ORDENADA*/
ol li{
    list-style: georgian;
    font-family: 'Lucida Sans';
    color: rgb(150, 49, 209);
}
ol li:hover{
    color: crimson;
}
/*LISTA ORDENADA*/
section:hover section:hover {
    color: #692B1B;
 }
section section section{
    text-align: left;
    color: #315D9E;
    background-color: #ffada6;
    border-radius: 10px;
    margin:20px;
}
section:hover section:hover section:hover  {
    color: #0162f3;
 }
section section section section{
    text-align: right;
    color: #742FB5;
}
section:hover section:hover section:hover section:hover {
    color: #e9000c;
 }
 /*IMAGEN*/
 .images1 {
    width: 450px;
    padding:  50px ;
    background-color: rgb(214, 94, 94);
    border-color:rgb(132, 0, 255);
    border-width: 10px;
    border-style: solid;
 }
 .images2 {
    width: 350px;
    padding:  50px ;
    background-color: rgb(156, 204, 162);
    border-color:rgb(43, 207, 236);
    border-width: 10px;
    border-style: solid;
 }
 .images1:hover {
     color: violet;
 }
 .images2:hover {
    color: violet;
}
 /*LISTA DESORDENADA*/
 ul li{
    font-size: 20px;
    list-style: square;
    font-family: 'Lucida Sans';
    color: rgb(0, 0, 0);
}
.rojo:hover{
    color: red;
}
.verde:hover{
    color: green;
}
.azul:hover{
    color: blue;
}
.cyan:hover{
    color: cyan;
}
.magenta:hover{
    color: magenta;
}
.amarillo:hover{
    color: yellow;
}
.negro:hover{
    color: white;
}
/*LISTA DESORDENADA*/
#cabecera{
    display: block; 
    padding: 25px 30px 30px 25px;
    position: fixed;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    height: 40px;
    background-color: #f7a2a2;
}
/*revisar siempre el height*/
#body{
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2300px;
    width: 98%;
}
.action-button{
    padding: 15px;
    background-color: #91e9e4;
    border-radius: 10px;
    color: #000000;
    margin:20px;
}
.action-button:hover{
    padding: 15px;
    background-color: #9f2e2a;
    border-radius: 10px;
    color: #ffffff;
}
#footer{
    display: inline-flex;
    margin-top:20px;
    width: 100%;
    height: 5%;
    background-color: rgb(0, 0, 0);
    color:#ffffff;
    padding: 20px;
}